/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset CSS */


* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 500%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Header */

.logo {
    width: 180px;
}

body{
    background-color: #201617;
    font-family: 'Lato', sans-serif;

}

.nav-text{
    color: #54f083;
}

.fa-shopping-cart{
    color: #54f083;

}

.fa-heart-o{
    color: #54f083;
}

header{
   
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 120px;



    border-bottom: #30292a 1px solid;

}

.logo-container{
    width: 180px;
    height: 82px;
    display:inline-block
    
    



}

.logo{
    margin-top: 14px;
    margin-right: 0;
    
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 5px 0 5px;


    
    font-size: 16px;
    font-weight: 800;

    
}

.nav-text-ul{
    display: none;
    position: absolute;
    background-color: #201617;
    border:#54f083 1px solid;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    transition: 0.5s ease;
    
}

.nav-text-a{
    padding: 8px 14px;

    
}

.nav-text-a:hover{
    background-color:#412f31
}

.dropdown:hover .nav-text-ul{
    display: block;
}

.nav-text-li{
    width: 180px;
    border-radius: 4px;
    margin: 10px;
}

li{

    
}

.nav-container2{
    display: flex;


    align-items: center;
    justify-content: center;
    width: 40%;
    margin-right: 20px;


    
    
}

.nav-container3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;



    
    
}


a{
    text-decoration: none;
    color: #54f083;

}

.links{
    margin: 0px 10px 0px 10px;

}

.favorite-cart-container{
    display: flex;
    justify-content: end;
    border: 1px solid green;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    
    
}

.flex-end{
    display: flex;
    justify-content: end;
    align-items: center;
}

.search-bar-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;


}


.fa-heart-o{
    margin-left: 20px;

}




.inputs{
    
}

.input{
    display: flex;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.search-icon{
    margin-top: 3px;
    width: 50px;
    height: 40px;
    border-radius: 30px 30px 30px 30px;
}

.menu-toggle-container{
    display: none;

    align-items: center;
    width: 100%;
}

.menu-toggle{
    display: none;
    position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        margin-top: 40px;
        margin-right: 20px;

   


}

.home-toggle, .categorias-toggle, .destaques-toggle, .sobre-toggle{
    background-color:white;
    height: 5px;
    width: 100%;
    margin: 5px;
}
/* Main */
main{
    margin-top: 120px;
}
/* Para Celulares */
@media (max-width: 1045px) {

    body{
        overflow-x: hidden;
    }

    .logo-container{
        
    }

    .nav-container {
        display: none;
        
    }
    .nav-container2 {
        
        width: 100%;
        margin-left: 10px;
        margin-right: 15px;
        justify-content: end;
        right: 0;
        
    }


    .nav-container3 {
        justify-content: end;
        margin-left: 0px;
        margin-right: 38px;

        right: 0;
        
    }

    .menu-toggle{
        display:block;
        
        

    }
    .menu-toggle-container{
        display:flex;
 
        
    }

    .input{
        display: flex;
        height: 40px;
        border-radius: 20px;
        min-width: 80px;
        width: 100%;
    }

    .logo{
        margin-top: 39px;
        width: 100px;
        align-items: center;
    }
    .logo-container{
        height: 100%;
        width: 100%;
        align-items: center;
        
    }

    .search-icon{
        margin-top: 3px;
        width: 50px;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
    }
    .nav-list{
        display: flex;
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 82vh;
        background-color: #201617;

        flex-direction: column;
        border: #54f083 1px solid;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.5s ease;
    }
    .active{
        transform: translateX(0%);
 
    }

    .nav-text-li{
        margin-left: 0;




        
    }

    .nav-text-ul{
        border: none;



    
    }

    .dropdown{
        display: block;


    }

    
}

/* Main */
/* Slider */

.container-fluid{
    padding: 0;
    margin-top: -100px;
    width: 90%;
    border-bottom: #30292a 1px solid;
    padding-bottom: 20px;
    
   

}
.carousel{
    
    


}



#mainSlider .carousel-inner, #mainSlider .carousel-item{
    



}

#mainSlider .carousel-caption{
    top: 30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 100px;
    color: rgb(0, 0, 0);
}

#main-btn{
    background-color: #54f083;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;
}

#main-btn:hover{
    text-decoration: none;
    color:#54f083;
    background-color: transparent;
    border-color: #54f083;
}

/* Products */

.section-h2{
    color: #ffffff;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.section-container{
    background-color: #524d4d3b;
}

.card-container{
    overflow-x: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: #54f083 1px solid;
}

.product-card{
    width: 13rem;
    height: 26rem;

    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #f0f0f0;
    border: #fbb72d 1px solid;

    
}

.product-img img, .product-img{
    width: 13rem;
    height: 11rem;

    
    justify-content: center;
    align-items: center;
}

.product-details{
    padding: 30px;

    background-color: #fafafa;
    
    
}

.product-details h4{
 margin: 15px 0px 15px 0px;
 font-size: 1rem;
}

.product-details a{
    text-decoration: none;
    color:#54f083;
    font-weight: 800;
   }

.product-details p{
    margin-bottom: 15px;
    font-size: 1rem;
}

.badge{
    border: red 1px solid;
    color: white;
    background-color: red;
    border-radius: 0px;
    margin-top: 15px;
    font-size: 10%;
    font-weight: 700;
}

.product-catagory{
    color: #cdcdcd;
    font-weight: 600;
    
}

.product-img img, .product-img{

    display: flex;
    justify-content: center;
    align-items: center;
}


.product-bottom-details{
    display: flex;
    color: #fbb72d;

}

.product-bottom-details span{
    font-size: 0.8rem;
    text-decoration: line-through;
    margin-right: 8px;

}

.product-price{
    font-weight: 800;
    margin-right: 60px;
    font-size: 1rem;
}

.product-ico{
    color: #cdcdcd;
    
}

.product-ico1{
    color: #cdcdcd;
    margin-right: 6px;
    
}

.product-star{
    display: flex;
    color: #fbb72d;
    margin-bottom: 15px;
    
}